body{
  font-size: 16px;;
}
.container{
  text-align: center;
  margin:auto;
  background:black;
  color:#fff;
}
header{
  padding:30px;
}
main{
  background: white;
  color:black;
}
h2{
  padding:20px;
  font-size: 3rem;
}
footer{
  margin-bottom: 30px;
}